<div class = "welcome">
<h1>New Question</h1>

<div class = "signup">
<%= render 'form' %>
</div>

<div class = "subber">
<%= link_to 'Back', "/questions/#{current_user.id}/field/#{@students_tutor.id}" %>
</div>
</div>