<div class = "calendar">
<% if logged_in? && tutor? %>
<% if @tutor == current_user %>
  <%= week_calendar events: @meetings do |date, meetings| %>
  <strong class = "day"><%= Time.parse(date.to_s).day %></strong>

  <% meetings.each do |meeting| %>
    <div class = "appt">
      Name: <%= meeting.start_time.strftime('%H:%M') %>
    </div>
  <% end %>
<% end %>
<% end %>
<% end %>
</div>
</div>