<div class = "welcome">
<h1> Sign up as a new student? </h1>
<div class = "signup">
<%= link_to 'New Student', new_student_path %>
</div>
<h1> Sign up as a new tutor? </h1>
<div class = "signup">
<%= link_to 'New Tutor', new_tutor_path %>
</div>
</div>