<div class = "welcome"><h1 class="welcome-banner">Welcome to the tutoring platform!</h1>
<!-- TODO: Greet the current user! -->
<div class = "name">
	<% if logged_in? %>
		<strong>Hi, <%= current_user.name %></strong>
	<% end %>
</div>
<img class="img" src="http://res.freestockphotos.biz/pictures/14/14223-illustration-of-a-pencil-pv.png" height="300" width="250">
</div>




